*{
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
    margin: 0;

}

label{
    font-size: 13px;
}
.header-container{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid black;

    justify-content: center;
    align-items: center;
    min-height: 50px;
    font-size: 15px;
    justify-content: center;

}

.header-search-container{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    width: 60%;
    height: 5%;
   
}

h3{
    display: block;
    font-size: 15px;
    
}
.header-image{
    display: block;
    width: 120px;
    height: 30px;
}

#search{
    display: block;
    width: 60%;
    height: 10%;
    border: 1px solid blue;
    border-radius: 10em;

    text-align:center;
    
}

.header-items-container{
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    font-size: 14px;
    color: blue;
}

.header-item{
    display: block;
    width: 30%;
}

.navbar-aux-info{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(to right,#ff1d25 5%,#a0328c 35%,#7040a4 45%,#4359c7 55%,#0082e6 70%);

    height: 10%;
    width: 100%;

    color: white;
}

.navbar-aux-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 30px;
    width: 40%;
    
}

.navbar-aux-help{
    display: block;
  
    width: 25%;
}

.navbar-aux-item,.navbar-aux-help{
    color:white;
    text-decoration: none;
}
.navbar-aux-item[href="product"]{
    border: 1px solid white;
    padding: 0.2em;
    border-radius: 2em;
}

.container{
    display: flex;
    flex-direction: row;
}

.container-info{
    display: flex;

    flex-direction: row;
    margin-left: 1%;
}

.container-title{
    display: block;
    width: 100%;

    border: 2px solid black;
}

.bus-memory-info{
    display: flex;
    flex-direction: column;
}



.category-selector-info{
  display: grid;

  grid-template-columns: 155px; 
  grid-template-rows: 330px 90px 115px 220px 580px 290px 120px 100px;

  grid-row-gap: 10px;
  text-align: center;

  font-size: 15px;

  margin-left: 2%;
  
}

.category-selector-container{
    display:flex;
    flex-direction: column;

    
 
    color: rgba(0, 0, 255, 0.753);

    background-color:#0082e62c;
}

.category-selector-title{
    display: block;
    text-align: center;
}


.category-selector-nav{
    display: flex;
    flex-direction: column;
    width:100%;

    align-items: center;
    justify-content: center;
    font-size: 11px;
    margin: 0px;
}

.category-selector-items{
    list-style: none;
    text-align: center;
    width: 100%;
}

.emag-genius-container{
    display: flex;
    flex-direction: column;
    text-align:center;
    background-color: white;
}

.emag-genius-header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}
.genius-image{
    display: block;
    width: 50px;
    height: 20px;
}


.all-products-container,.delivery-emag-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

.emag-genius-container label{
    display: block;
    width:80%;
}

.availability-info{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    text-align: center;
    align-content: space-around;
}

.avalability-in-stock-container,.avalability-promotions-container,.availability-news-container,.availability-reseal-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    width: 70%;
}


.availability-info label{
   display: block;
   width: 70%;
}

.price-info{
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    width:100%;
    align-items: flex-end;
}

.price-info label{
    display: block;
    width: 100%;
}

.price-info-container{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
}


section[class^="price"]{
    display: flex;
    flex-flow: row wrap; 

    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
  
}


section[class^="price"] label{
    width: 80%;
}
section[class^="price"] input{
    display: block;
    width: 20%;
}

.interval-price-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
}

.interval-price-container{
    display: flex;
    flex-direction: row;
}

hr {
    border: 0.1px solid gray;
    width: 90%;
    color: #FFFF00;
    height: 0.1px;
}
.price-number-container{
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    width: 100%;
}

.price-number-container input{
    width: 90%;
}

.brand-info{
    display: flex;
    flex-direction: column;

    
    background-color: white;

    
}

.brand-title{
    display: block;
    text-align: center;
}

.brand-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.brand-container label{
    display: block;
    width:70%;
}

.search-brand{
    width: 85%;
    height: 4%;
}
.checked {
    color: orange;
  }


.rating-info{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.rating-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 30%;
}

.delivery-by-info{
    display: flex;
    flex-direction: column;
    background-color: white;
 
}

.delivery-title{
    display: block;
    width: 100%;
    font-size: 13px;
}

.delivery-by-container{
    display: flex;
    flex-direction: row;
}

.delivery-by-container label{
    width: 80%;
}

.easybox-available-info{
    display: flex;
    flex-direction: column;
    background-color: white;
   
}
.easybox-container{
    display: flex;
    justify-items: flex-start;
}
.chipset-info{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.chipset-info-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.memory-type-info{
    display: flex;
    flex-direction: column;
    background-color: white;

    

}

.chipset-info-container label,.memory-type-container label,.easybox-container label{
    display: block;
    width: 80%;
}

.memory-type-container{
    display: flex;
    flex-direction: row;
    background-color: white;
}


.bus-memory-info{
    display: flex;
    background-color: white;

}

.bus-memory-container{
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-content: space-evenly;
}

.bus-memory-container input{
    display: block;
    width: 20%;
}

.bus-memory-container label{
    width: 80%;
}

.mobo-type-info{
    display: flex;
    flex-direction: column;
    background-color: white;
 
    width: 100%;
}

.mobo-type-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 80%;
}

.mobo-type-container label {
    display: block;
    width:80%;
}

.power-connector-info{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.power-connector-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

.power-connector-container label{
    display: block;
    width: 80%;
}

.number-slots-info{
    display: flex;
    flex-direction: column;

    background-color: white;
}

.number-slots-container{
    display: flex;
    flex-direction: row;

    align-content: space-around;
    justify-content: space-around;
}

.number-slots-container label{
    display: block;
    width: 80%;
}

.slots-info{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.slots-container{
    display: flex;
    flex-direction: row;
}

.slots-container label{
    display: block;
    width: 80%;
}

.capacity-info{
    display: flex;
    flex-direction: column;

    background-color: white;
}
.capacity-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;

}

.capacity-container label{
    display: block;

    width: 80%;
}



















